header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  color: #cfb53b;
  padding: 10px;
  width: 100%;
  position: sticky;
  top: 0;
  box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  /* margin-bottom: 18px; */
}

.display{
  display: flex;
  justify-content: right;
}

.logo-1 img{
  height: 60px;
  padding-top: 10px;
  padding-left: 20px;
}
.logo-1{
  padding: 0 20px;
}

.logo-2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo-2 img{
  height: 60px;
  width: 60px;
  padding-top: 10px;
}

nav ul {
  display: flex;
  align-items: center;
  list-style: none;
}
nav ul li{
  padding: 10px;
}

nav ul li a {
  text-decoration: none;
  color: #cfb53b;
  padding: 10px;
}

nav ul li:hover{
  background: #293503;
  border-radius: 50%;
  -webkit-animation: vibrate-1 0.3s linear infinite both;
	        animation: vibrate-1 0.3s linear infinite both;
}

 @-webkit-keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
@keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

.burger-container{
  display: none;
}

.mobile-menu{
  font-size: 30px;
  display: none;
}

.menu{
  display: block;
}

.mobile-menu-open .mobile-menu{
  display: none;
}

.close-menu{
  display: none;
  font-size: 25px;
}

.mobile-menu-open .close-menu{
  display: block;
}

.mobile-menu-open .menu{
  display: block; 
}

.mobile-menu-open .menu ul {
  flex-direction: column;
}

.mobile-menu-open {
  height: 100vh;
  flex-direction: column;
}

@media only screen and (max-width: 850px) {
  .burger-container{
    display: block;
  }

  .mobile-menu{
    display: block;
  }
  .menu li{
    display: none;
  }
}
